config ddnsto
	option enabled '1'
	option token '16efbcdd-4517-4be5-a844-ecf1bca50ca2'
	option index '1'
	option logger '0'
	option feat_enabled '0'
	option feat_port '3033'
	# option feat_username ''
	# option feat_password ''
	# option feat_disk_path_selected ''
	option address 'https://h925766.tocmcc.cn:443'
  option identity_mode 'legacy'
  option router_id 'c875f465c2a4'
